@mixin navigation (){
    display: grid;
    justify-items: center;

    a, i{
        color: color(quaternary);
        font-size: size(sm);
    }
}

// Responsive
@mixin response($breakpoint) {
    @if($breakpoint == xl){
        @media(min-width: 1200px){
            @content;
        }
    }

    @if($breakpoint == lg){
        @media(min-width: 992px){
            @content;
        }
    }

    @if($breakpoint == md){
        @media(min-width: 768px){
            @content;
        }
    }

    @if($breakpoint == sm){
        @media(min-width: 576px){
            @content;
        }
    }
}